body {
    font-family: Arial, sans-serif;
    background-color: #f7f3ee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    min-width: 100%;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    max-width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top:10%;
}

.logo {
    max-width: 20%; /* Le logo ne dépassera pas la largeur du conteneur */
    height: auto; /* La hauteur s'ajustera proportionnellement à la largeur */
    display: block; /* Pour résoudre les problèmes de marges autour de l'image */
    margin: 0 auto; /* Centrer l'image horizontalement dans le conteneur */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    text-align: center;
    color: #2d2626;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #ecdd7b;
    color: #2d2626;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c8b96d;
}

.waves-container {
    position: relative;
    margin-top: auto; /* Push waves to the bottom */
    width:100%;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

/* Shrinking for mobile */
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .login-container {
        padding: 30px;
    }
    h1 {
        font-size: 24px;
    }
}
