body {
    font-family: Arial, sans-serif;
    background-color: #f7f3ee;
    display: flex;
    flex-direction: column; /* Utiliser une disposition en colonne pour empiler les éléments verticalement */
    align-items: center;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

#flex-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Aligner les éléments à chaque extrémité du conteneur */
    width: 95%; 
    padding: 1%; 
}

#timer {
    font-size: 18px;
    margin: 10px;
  }
  

/* Flex container pour aligner les images et les textes */
#flex-container-2 {
    display: flex;
    align-items: center; /* Aligner les éléments verticalement au centre */
    justify-content: space-around; /* Espacement équitable entre les éléments */
}

#flex-container-2 img {
    max-width: 30%; 
    height: auto; /* Garantit que les proportions de l'image sont conservées */
}

#flex-container-2 div {
    text-align: center; /* Centre le texte */
 
}

#flex-container-3 {
    display : flex;
    flex-direction : column;
}
.additional-containers {
    padding: 20px;
    width: 100%; /* Adjust the width as needed */
    display: flex;
    flex-direction: row;
    align-items: left; /* Center the elements horizontally in the container */
}

.additional-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px; /* Adjust as needed */
}

#flex-container-3 {
    display : flex;
    flex-direction : column;
}

#flex-container-4 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the containers horizontally */
    justify-content: center; /* Center the containers vertically */
    width: 60%;
    margin: auto; /* Center the entire container */
    margin-bottom: 30px;
}

.flex-container {
    text-align: center; /* Center the text within each container */
}

#flex-container-5,
#flex-container-6,
#flex-container-7 {
    margin-top: 20px; /* Add some space between the containers */
}

select {
    font-size: 16px; /* Increase font size for selects */
    padding: 8px; /* Add padding to selects for better appearance */
}

button {
    font-size: 16px; /* Increase font size for buttons */
    padding: 10px 20px; /* Add padding to buttons for better appearance */
}



/* Add more styling if necessary */

#numberDisplay {
    font-size: 1.6rem;
    font-weight: bold;
}

/* Ajouter du style pour votre logo */
img {
    width: 130px;
    height: auto;
}

/* à rendre responsive */

/* Style for the floating message */
#floating-message1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block; /* Initially hide the message */
    z-index: 999; /* Ensure it's above other elements */
}

#floating-message2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hide the message */
    z-index: 999; /* Ensure it's above other elements */
}