<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Phase 2</title>
</head>
<body>

    
    <body class="bg-gray-200">
        <div id="flex-container-1" class="flex-container">
                <img src="/static/logo.png" alt="Votre Logo" class="w-12 h-12">
                <div id="timer">Timer : <span id="countdown"></span></div>
                <div id="numberDisplay" class="text-xl font-bold"></div>
           
        </div>
    </div>
    
    <div id="flex-container-2" class="flex-container">
        <div>
            <img src="/static/R.png" alt="Jauge R">
            <div id="JaugeR"></div>
        </div>

        <div>
            <img src="/static/C.png" alt="Jauge C">
            <div id="JaugeC"></div>
        </div>
        <div>
            <img src="/static/I.png" alt="Jauge I">
            <div id="JaugeI"></div>
        </div>
    </div>
    
    <div id="flex-container-3" class="flex-container">
        <div class="additional-containers">
            <div class="additional-container">Défense feu</div>
            <div class="additional-container">Défense terre</div>
            <div class="additional-container">Défense eau</div>
            <div class="additional-container">Défense air</div>
        </div>
    </div>

    

    <div id="flex-container-4" class="flex-container">
        <p3>Echanges</p3>
        <div id="flex-container-5" class="flex-container">
            <select id="defense-left">
                <option value="defense-feu">Défense feu</option>
                <option value="defense-terre">Défense terre</option>
                <option value="defense-eau">Défense eau</option>
                <option value="defense-air">Défense air</option>
            </select>
    
            <span>Contre</span>
    
            <select id="defense-right">
                <option value="defense-feu">Défense feu</option>
                <option value="defense-terre">Défense terre</option>
                <option value="defense-eau">Défense eau</option>
                <option value="defense-air">Défense air</option>
            </select>
    
            <button id="submit-btn" onclick="exchange()">Soumettre</button>
        </div>
        
        <div id="flex-container-6" class="flex-container">
            <p3>Donations</p3>
            <select id="defense-gifted">
                <option value="defense-feu">Défense feu</option>
                <option value="defense-terre">Défense terre</option>
                <option value="defense-eau">Défense eau</option>
                <option value="defense-air">Défense air</option>
            </select>
            
            <button id="submit-btn" onclick="donate()">Soumettre</button>
        </div>

        <div id="flex-container-7" class="flex-container">
            <p3>Reçus</p3>
            <select id="defense-received">
                <option value="defense-feu">Défense feu</option>
                <option value="defense-terre">Défense terre</option>
                <option value="defense-eau">Défense eau</option>
                <option value="defense-air">Défense air</option>
            </select>
            
            <button id="submit-btn" onclick="receive()">Soumettre</button>
        </div>
        
    </div>
    <script>
        function exchange() {

            var valueDefenseLeft = document.getElementById("defense-left").value;
            var valueDefenseRight = document.getElementById("defense-right").value;

            if (valueDefenseLeft === valueDefenseRight) {
                console.log("Pas d'échanges possibles avec le même type.");
                return;
            }

            C+=5;

            const formData = {
                jauge_c: 5,
                defense_feu: 0,
                defense_terre: 0,
                defense_eau: 0,
                defense_air: 0, 
            };
            
            if (valueDefenseLeft === "defense-terre") {
                formData.earth_defense = -1;
                earthDefense -= 1;
            } else if (valueDefenseLeft === "defense-eau") {
                formData.water_defense = -1;
                waterDefense -= 1;
            } else if (valueDefenseLeft === "defense-feu") {
                formData.fire_defense = -1;
                fireDefense -= 1;
            } else if (valueDefenseLeft === "defense-air") {
                formData.air_defense = -1;
                airDefense -= 1;
            }

            if (valueDefenseRight === "defense-terre") {
                formData.earth_defense = 1;
                earthDefense += 1;
            } else if (valueDefenseRight === "defense-eau") {
                formData.water_defense = 1;
                waterDefense += 1;
            } else if (valueDefenseRight === "defense-feu") {
                formData.fire_defense = 1;
                fireDefense += 1;
            } else if (valueDefenseRight === "defense-air") {
                formData.air_defense = 1;
                airDefense += 1;
            }

            updateUI();

            fetch(`/put-jauge/${storedNumber}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                console.log('Received response:', response);
                return response.json();
            })
            .then(data => {
                console.log('Received JSON data:', data);
            })
            .catch(error => {
                console.error('Error updating metrics:', error);
            });

        }

        function donate() {
            var valueDonation = document.getElementById("defense-gifted").value;

            I-=2;
            R+=5;

            const formData = {
                jauge_i: -2,
                jauge_r: 5,
                water_defense: 0,
                earth_defense: 0,
                fire_defense: 0,
                air_defense: 0, 
            };
            
            if (valueDonation === "defense-terre") {
                formData.earth_defense = -1;
                earthDefense -= 1;
            } else if (valueDonation === "defense-eau") {
                formData.water_defense = -1;
                waterDefense -= 1;
            } else if (valueDonation === "defense-feu") {
                formData.fire_defense = -1;
                fireDefense -= 1;
            } else if (valueDonation === "defense-air") {
                formData.air_defense = -1;
                airDefense -= 1;
            }

            updateUI();

            fetch(`/put-jauge/${storedNumber}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                console.log('Received response:', response);
                return response.json();
            })
            .then(data => {
                console.log('Received JSON data:', data);
            })
            .catch(error => {
                console.error('Error updating metrics:', error);
            });

            

        }

        function receive() {
            var valueReception = document.getElementById("defense-received").value;

            I+=10;
            R-=10;

            const formData = {
                jauge_i: 10,
                jauge_r:-10,
                water_defense: 0,
                earth_defense: 0,
                fire_defense: 0,
                air_defense: 0, 
            };

            if (valueReception === "defense-terre") {
                formData.earth_defense = 1;
                earthDefense += 1;
            } else if (valueReception === "defense-eau") {
                formData.water_defense = 1;
                waterDefense += 1;
            } else if (valueReception === "defense-feu") {
                formData.fire_defense = 1;
                fireDefense += 1;
            } else if (valueReception === "defense-air") {
                formData.air_defense = 1;
                airDefense += 1;
            }

            updateUI();

            fetch(`/put-jauge/${storedNumber}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                console.log('Received response:', response);
                return response.json();
            })
            .then(data => {
                console.log('Received JSON data:', data);
            })
            .catch(error => {
                console.error('Error updating metrics:', error);
            });
            
        }
    </script>
    
    <button onclick="submitI()">Passer au débrief 2</button>

    

    

        <!-- Floating message container -->
    <div id="floating-message1" class="floating-message">
        <p>Le dragon éternue, créant une vague de flammes traversant l'empire. -4 en défense feu</p>
        <button onclick="confirmMessage1()">Ne pas paniquer</button>
    </div>

    <div id="floating-message2" class="floating-message">
        <p>Le dragon s'étire, ses ailes battent et l'empire doit résister à ces tempêtes. -4 en défense air</p>
        <button onclick="confirmMessage2()">Ne pas paniquer</button>
    </div>
    

    <script>
        let  airDefense, waterDefense, fireDefense, earthDefense;
    
        function confirmMessage1() {
         
            fireDefense -= 4;

            updateUI();

    
            document.getElementById('floating-message1').style.display = 'none';

            const formData = {
                fire_defense: -4,
            };

            fetch(`/put-jauge/${storedNumber}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                console.log('Received response:', response);
                return response.json();
            })
            .then(data => {
                console.log('Received JSON data:', data);
            })
            .catch(error => {
                console.error('Error updating metrics:', error);
            });
        }
    
        function confirmMessage2() {

            airDefense -= 4;
            updateUI();
    
            document.getElementById('floating-message2').style.display = 'none';

            const formData = {
                air_defense: -4,
            };

            fetch(`/put-jauge/${storedNumber}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                console.log('Received response:', response);
                return response.json();
            })
            .then(data => {
                console.log('Received JSON data:', data);
            })
            .catch(error => {
                console.error('Error updating metrics:', error);
            });
        }
    
        // Set the duration of the timer in seconds
        const timerDuration = 400; // Change this value to the desired duration
    
        let countdown = timerDuration;
        let countdownInterval;
    
        function startTimer() {
            countdownInterval = setInterval(updateTimer, 1000);
        }
    
        function updateTimer() {
            const timerElement = document.getElementById('countdown');
    
            if (countdown > 0) {
                countdown--;
                timerElement.textContent = countdown;
            } else {
                clearInterval(countdownInterval);
                document.getElementById('floating-message2').style.display = 'block';
            }
        }
    
        startTimer();
    </script>
    
    <script>
        function getCookie(name) {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.indexOf(name + "=") === 0) {
                return cookie.substring(name.length + 1);
                }
            }
            return "";
            };

        var storedNumber = getCookie("number");
        console.log(storedNumber)
        document.getElementById('numberDisplay').innerText = `Équipe ${storedNumber}`;
    </script>
    
    <script>
        let R, I, C, D;
        function updateUI() {
            // Update gauge values
            document.getElementById('JaugeI').innerText = `Ressources : ${I}`;
            document.getElementById('JaugeR').innerText = `Diplomatie : ${R}`;
            document.getElementById('JaugeC').innerText = `Popularité : ${C}`;

            // Update defense values
            const defenseAir = parseInt(airDefense);
            const defenseEau = parseInt(waterDefense);
            const defenseFeu = parseInt(fireDefense);
            const defenseTerre = parseInt(earthDefense);

            document.getElementsByClassName('additional-container')[0].innerText = `Défense air: ${parseInt(defenseAir)}`;
            document.getElementsByClassName('additional-container')[1].innerText = `Défense eau: ${parseInt(defenseEau)}`;
            document.getElementsByClassName('additional-container')[2].innerText = `Défense feu: ${parseInt(defenseFeu)}`;
            document.getElementsByClassName('additional-container')[3].innerText = `Défense terre: ${parseInt(defenseTerre)}`;
            
        }

        fetch('/get-jauge/'+storedNumber)
            .then(response => response.json())
            .then(apidata => {
                I=apidata.jauge_i;
                R=apidata.jauge_r;
                C=apidata.jauge_c;
                D=apidata.jauge_d;
                airDefense=apidata.air_defense;
                waterDefense=apidata.water_defense;
                fireDefense=apidata.fire_defense;
                earthDefense=apidata.earth_defense;

                updateUI();
            });
 
    </script>

    <script>
        function submitI(){
            const url  = "/debrief2";
            window.location.href = url;
        }
    </script>
   

 
</body>
</html>

