<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Tableau de prévention</title>
</head>

    <body class="bg-gray-200">
        <div id="flex-container-1" class="flex-container">
                <!-- Logo en haut à gauche -->
                <img src="/static/logo.png" alt="Votre Logo" class="w-12 h-12">
                <!-- Timer -->
                <h2>Tableau de prévention</h2>
                <!-- Numéro du groupe en haut à droite -->
                <div id="numberDisplay" class="text-xl font-bold"></div>
        </div>
    </div>

    <h3>Veuillez entrer ci-dessous votre classement des risques.</h3>
    

    <form action="/session" method="post">
        <label for="input1">Faillite du royaume 1 : </label>
        <input type="number" id="input1" name="input1" required>

        <label for="input2">Attaque du royaume voisin : </label>
        <input type="number" id="input2" name="input2" required>

        <label for="input3">Révolte du peuple : </label>
        <input type="number" id="input3" name="input3" required>

        <label for="input4">Apocalypse : </label>
        <input type="number" id="input4" name="input4" required>

        <label for="input5">Séisme : </label>
        <input type="number" id="input5" name="input5" required>

        <label for="input6">Inondation : </label>
        <input type="number" id="input6" name="input6" required>

        <label for="input7">Tempête : </label>
        <input type="number" id="input7" name="input7" required>

        <label for="input8">Incendie : </label>
        <input type="number" id="input8" name="input8" required>

        <!-- Répétez ce modèle pour les autres champs d'entrée -->

        <input type="hidden" id= "hiddenField" name="number" value="" />
        <button type="submit" id="submit" ->Envoyer</button>
        
    </form>

    <script>
        function getCookie(name) {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.indexOf(name + "=") === 0) {
            return cookie.substring(name.length + 1);
            }
        }
        return "";
        };

        var storedNumber = getCookie("number");
        $("#numberDisplay").text("Équipe "+storedNumber);
        document.getElementById("hiddenField").value = storedNumber;
    </script>
   

   


</body>
</html>

